name: CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  docker:
    name: Build & Push Docker image
    needs: tests
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: microblog
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: osay21  
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata (tags & labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=branch
            type=sha

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .                
          file: Dockerfile_prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
